/* Layout (Torrents page) */

/* We're going to opt for the category icon method for now, tags_* is also available */
.cats_applications { width: 28px; height: 28px; background: url('images/apps.png') no-repeat center center; }
.cats_audiobooks { width: 28px; height: 28px; background: url('images/audiobook.png') no-repeat center center; }
.cats_comedy { width: 28px; height: 28px; background: url('images/comedy.png') no-repeat center center; }
.cats_comics { width: 28px; height: 28px; background: url('images/comics.png') no-repeat center center; }
.cats_ebooks { width: 28px; height: 28px; background: url('images/ebook.png') no-repeat center center; }
.cats_elearningvideos { width: 28px; height: 28px; background: url('images/elearning.png') no-repeat center center; }

.cats_music { width: 28px; height: 28px; background: url('images/music.png') no-repeat center center; }
/*
Based in Shiro
xirian made the color changes and logo
IPGlider other style changes
*/

/* Global */

* {
	padding: 0em;
	margin: 0em;
}

html {
	width: 100%;
}

body {
	width: 100%;
	font-family: tahoma,helvetica,sans-serif;
	font-size: 8pt;
	color: #333;
	min-width: 950px;
	background-color: #C7EDFC;
	background-image:url('images/bg.png');
}

/* Common elements */

a {
	text-decoration: none;
	border: none;
	color: #FE448B;
}

a:hover {
	text-decoration: underline;
	color: #333;
}

h1,h2,h3,h4 {
	margin: 5px 0px;
	font-weight: bold;
}

h2 {
	text-align: center;
	font-size: 12pt;
	color: #444;
}

h4 {
	font-size: 8pt;
}

p {
	margin: 10px 5px;
}

li {
	margin: 5px 15px;
}

input {
	padding: 2px 3px;
}

textarea {
	padding: 2px 3px;
}

img {
	border: none;
}

/* Ratio Colors */

.r00 { color: #FF0000; }
.r01 { color: #FF1300; }
.r02 { color: #FF1300; }
.r03 { color: #FF2600; }
.r04 { color: #FF4C00; }
.r05 { color: #FF5E00; }
.r06 { color: #FF5E00; }
.r07 { color: #FF7100; }
.r08 { color: #FF9700; }
.r09 { color: #FFAA00; }
.r10 { color: #74C42E; }
.r20 { color: #418B00; }
.r50 { color: #418B00; }
.r99 { color: #418B00; }

/* Styles generated by the BBCode parser */

span.size1 {
	font-size: 0.75em;
}

span.size2 {
	font-size: 1em;
}

span.size3 {
	font-size: 1.25em;
}

span.size4 {
	font-size: 1.5em;
}

span.size5 {
	font-size: 1.75em;
}

span.size6 {
	font-size: 2em;
}

span.size7 {
	font-size: 2.25em;
}

span.size8 {
	font-size: 2.5em;
}

span.size9 {
	font-size: 2.75em;
}

span.size10 {
	font-size: 3em;
}

ul.thin {
	margin: 0px 0px 0px 25px;
	padding: 0px;
}

ul.thin li {
	margin: 0px 0px;
	padding: 0px;
}

/* Layout (Every page) */

#header {
	width: 100%;
	padding: 0px 0 0 0;
}

#content {
	padding-bottom: 10px;
	margin: 70px auto auto;
	width: 100%;
	overflow: hidden;
	background-color: #FFFFFF;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
}

#wrapper {
	width: 90%;
	margin: 0px auto;
}

#footer {
	width: 100%;
	text-align: center;
	padding: 1em 0;
}

#logo {
	width: 220px;
	height: 50px;
	background: url('images/logo.png') no-repeat center;
	margin: 5px auto 5px auto;
}

#logo a {
	border: none;
	width: 220px;
	height: 55px;
	display: block;
}

#logo a:hover {
	border: none;
}

#menu {
	position: absolute;
	top: 90px;
	width: 90%;
	padding: 0.6em 0;
	text-align: center;
	font-size: 10pt;
	background: inherit;
}

#menu ul li {
	position: relative;
	display: inline;
	background-color: #FE448B;
	padding: 6px 0;
	margin: 0px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
}

#index #nav_index, #torrents #nav_torrents, #requests #nav_requests, #forums #nav_forums, #top10 #nav_top10, #rules #nav_rules, #kb #nav_kb, #staff #nav_staff, #chat #nav_irc, #wiki #nav_wiki, #collage #nav_collages {
	background-color: #FFB4D1;
}

#menu ul li a {
	padding: 0.6em 2%;
	color: #FFFFFF;
}

#menu ul li a:hover {
	background-color: #FFB4D1;
	text-decoration: none;
	color: #FE448B;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
}

#userinfo {
	background: #FFFFFF;
	color: #444;
	width: 100%;
	text-align: center;
	font-size: 8pt;
	padding: 3px 0px;
	z-index: 10;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

#userinfo ul {
	display: inline;
	margin: 0px 0.8%;
	padding: 4px;
}

#userinfo ul li {
	position: relative;
	display: inline;
	margin: 0 0.1em;
	line-height: 20px;
	vertical-align: middle;
	padding: 2px;
}

#userinfo a {
	color: #FE448B;
}

#userinfo a:hover {
	text-decoration: underline;
}

#userinfo b a {
	font-weight: normal;
	font-size: 0.9em;
}

#userinfo span.stat {
	color: #222;
}

#userinfo_username {
	position: absolute;
	top: 10px;
	left: 5%;
	z-index: 11;
}

#userinfo_stats {
	position: absolute;
	top: 25px;
	left: 5%;
}

#userinfo_major {
	position: absolute;
	top: 10px;
	right: 5%;
}

#searchbars {
	position: absolute;
	top: 120px;
	width: 90%;
	text-align: center;
	background-color: #FFFFFF;
	padding: 10px 0;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
}

#searchbars input {
	position: relative;
	padding: 3px 3px 3px 5px;
	font-size: 0.9em;
	background-color: #F3FBFE;
	color: #FE448B;
	border: 1px solid #B8E8FB;
}

#searchbars ul {
	margin: 0 auto;
	display: block;
	text-align: center;
}

#searchbars ul li {
	display: inline;
	margin: 0px 1px;
	list-style: none;
	position: relative;
}


#searchbars ul li ul {
	display: block;
	position: absolute;
	top: 1em;
	left: 0;
	z-index: 1000;
	border: 1px solid #B8E8FB;
	background: #fff;
	width: 11.5em;
	margin-top: 5px;
}

#searchbars ul li ul li {
	margin: 0 0 0 0;
	padding: 0;
	display: block;
	width: 100%;
}

#searchbars ul li ul li.highlight {
	color: #FE448B;
}

#searchbars ul li form {
	display: inline;
}

#alerts {
	margin-top: 60px;
	margin-bottom: -70px;
	padding: 5px 0px 10px 0px;
	width: 100%;
	background-color: #FFFFFF;
}

#alerts a {
	color: #FFF;
}

.alertbar.blend {
	background-color: #DDD;
	border: 1px solid #BBB;
}

#cat-selector ul {
	width: 100%;
}

#cat-selector ul li {
	display: inline;
	width: 12em;
	height: 1em;
	float: left;
}

.alertbar {
	background-color: #FE448B;
	text-align: center;
	color: #FFF;
	font-weight: bold;
	font-size: 0.95em;
	width: 350px;
	margin: 10px auto 10px auto;
	padding: 5px 10px;
}

.alertbar a {
	color: #555;
	text-decoration: underline;
}

.alertbar a:hover {
	color: #777;
	text-decoration: none;
}

/* IE doesn't appear to like a simple display:none in our header. Random things start fucking up pretty badly. */

.hidden {
	position: absolute;
	left: -10000px;
}

input.hidden {
	position: absolute;
	display: none;
}

/* Layout (Any page) */

.thin {
	width: 850px;
	margin: 0px auto;
}

#userinfo_username .brackets:before {
	color: #FE448B;
}

#userinfo_username .brackets:after {
	color: #FE448B;
}

#userinfo_major .brackets:before {
	color: #FE448B;
	font-weight: bold;
}

#userinfo_major .brackets:after {
	color: #FE448B;
	font-weight: bold;
}

div.linkbox {
	text-align: center;
	padding: 5px;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}

.min_padding {
	padding: 0px;
	margin: 0px 0px;
}

p.min_padding {
	margin: 2px 0px;
}

.pad {
	padding: 1em;
}

.vertical_space {
	margin-bottom: 10px;
}

.box {
	font-size: 8pt;
	background-color: #F3FBFE;
	border: 1px solid #B8E8FB;
}

.pad h3,.pad h4,.padbox h3,.padbox h4 {
	margin-top: 0px;
	padding-top: 0px;
}

.sidebar {
	float: right;
	width: 250px;
	height: 100%;
}

.sidebar .box {
	margin: 0px 5px 10px 5px;
}

.head {
	padding: 4px;
	border-bottom: 2px solid #C1E5F4;
	background: #C7EDFC;
	color: #444;
}

.body {
	padding: 3px 10px 10px 10px;
}

.main_column {
	margin: 0px 255px 10px 0px;
	width: 590px;
}

.main_column .box,.main_column table {
	margin-bottom: 10px;
}

.tags {
	padding: 0px 0px 0px 20px;
	font-style: italic;
}

.tags a {
	color: #FE448B;
}

.tags a:hover {
	color: #dedede;
	text-decoration: none;
}

.noborder {
	border: none;
}

ul.nobullet {
	list-style-type: none;
}

table {
	width: 100%;
	border-collapse: collapse;
	border: 3px solid #B8E8FB;
}

tr {
	border: 1px solid #B8E8FB;
	background-color: #F3FBFE;
}

tr.rowa {
	background-color: #B8E8FB;
}

td, th {
	border: 1px solid #B8E8FB;
	padding: 5px;
	text-align: left;
}

.colhead {
	background: #F3FBFE;
	font-weight: bold;
	color: #444;
}

td.colhead,.colhead td,.colhead th {
	padding-left: 10px;
	padding-right: 10px;
}

.colhead .sign {
	padding: 0px 8px 0px 8px;
	font-size: 12pt;
	font-weight: bold;
	vertical-align: middle;
}

.colhead_dark {
	background: #FFFFFF;
	color: #628098;
	vertical-align: middle;
}

.colhead_dark a {
	color: #FE448B;
}

td.label {
	font-weight: bold;
	text-align: right;
	width: 180px;
}

table.slice {
	margin-top: -1px;
}

.error_message {
	border: 1px solid #666;
	padding: 3px 0px 3px 0px;
	background-color: #AF2525;
	text-align: center;
	color: white;
	font-weight: bold;
}

.save_message {
	border: 1px solid #666;
	padding: 3px 0px 3px 0px;
	background-color: #F4E649;
	text-align: center;
	color: #492802;
	font-weight: bold;
}

.elem_error {
	border: 3px solid #B00D0D;
}

.hide {
	display: none;
}

/* Layout (home page) */

ul.stats li {
	padding: 0px 0px 1px 0px;
}

ul.poll li {
	padding: 0px 0px 0px 10px;
	margin: 0px;
	clear: left;
}

ul.poll li.graph {
	margin-bottom: 3px;
	padding-left: 20px;
}

/* Layout (Torrents page) */

.show_torrents {
	width: 28px;
	height: 28px;
	background: url('images/show.png') no-repeat center;
}

.hide_torrents {
	width: 28px;
	height: 28px;
	background: url('images/hide.png') no-repeat center;
}

.show_torrents_link {
	border: none;
	width: 28px;
	height: 28px;
	display: block;
}

.filter_torrents {
	width: 750px;
	margin: auto;
}

.filter_torrents .submit {
	text-align: right;
	padding-top: 5px;
}

.cat_list tr td {
	border: none;
}

.torrent_table tr {
	vertical-align: top;
}

.colhead .sign, .colhead_dark .sign {
	padding: 0px 8px 0px 8px;
	vertical-align:middle;
	text-align:center;
	font-size: 12pt;
	font-weight: bold;
}

#content form.search_form + .torrent_table {
	margin-top: 20px;
}

.torrent_table tr.group, tr.torrent {
	background-color: #F3FBFE;
}

tr.group_torrent {
	background-color: #F3FBFE;
}

.torrent_table div.tags {
	font-weight: normal;
}

.torrent_table tr .center {
	vertical-align: middle;
	text-align: center;
}

.group_torrent span {
	float: right;
}

.torrent span {
	font-weight: normal;
	float: right;
}

.nobr {
	white-space: nowrap;
}

/* Layout (Forums) */

.last_read {width: 15px; height: 15px; background: url(images/go_last_read.png) no-repeat center center; margin-left: 5px;}
.last_read a { border: none; width: 100%; height: 100%; display: block; }
.last_read a:hover { border: none; }

.unread_locked_sticky{background: url(images/locked_sticky_unread.png) no-repeat center center;}
.read_locked_sticky{background: url(images/locked_sticky_read.png) no-repeat center center;}
.read_sticky{background: url(images/sticky_read.png) no-repeat center center;}
.unread_sticky{background: url(images/sticky_unread.png) no-repeat center center;}
.unread_locked{background: url(images/locked_unread.png) no-repeat center center;}
.read_locked{background: url(images/locked_read.png) no-repeat center center;}
.unread{background: url(images/unread.png) no-repeat center center;}
.read{background: url(images/read.png) no-repeat center center;}

table.forum_post {
	margin: 10px 0px;
}

table.forum_unread {
	border: 2px solid #FFB3D9;
}

td.avatar {
	width: 150px;
	padding: 0px;
}

table.forum_post td.body {
	max-width: 675px;
}

tbody {
	max-width: 690px;
}

blockquote {
	margin: 10px;
	padding: 10px;
	border: 1px dashed #666;
}

/* Layout (Inbox) */

tr.unreadpm {
	background-color: #ECC;
}

/* Layout (Permission Page) */

.permission_head {
	width: 400px;
	margin-left: auto;
	margin-right: auto;
}

.permissions {
	width: 930px;
	margin-left: auto;
	margin-right: auto;
}

.permission_container {
	float: left;
	width: 300px;
	padding: 5px;
}

.permission_container input {
	margin: 0px 3px 5px 0px;
	vertical-align: top;
}

.submit_container {
	clear: both;
	text-align: right;
}

/* Layout (Invite tree) */

ul .invitetree {
	margin: 0px 0px 0px 25px;
}

.invitetree li {
	list-style: none;
	margin: 10px 2px;
}

/* Layout (MISC) */

.left_poll {
	width: 2px;
	height: 9px;
	background: url('images/bar_left.gif') no-repeat center;
	float: left;
	margin: 0px;
	padding: 0px;
}

.center_poll {
	height: 9px;
	background: url('images/bar.gif') repeat;
	float: left;
	margin: 0px;
	padding: 0px;
}

.right_poll {
	width: 2px;
	height: 9px;
	background: url('images/bar_right.gif') no-repeat center;
	float: left;
	margin: 0px;
	padding: 0px;
}

.curtain {
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index: 1001;
	opacity: 0.8;
	filter: alpha(opacity=80);
}

.lightbox {
	position: fixed;
	text-align: center;
	top: 5%;
	left: 5%;
	width: 90%;
	height: 90%;
	padding: 0px;
	z-index: 1002;
	overflow: auto;
}

table#torrent_table.torrent_table {
	margin: auto;
}

form tr {
	background-color: #D1F0FD;
}

#site_debug .hidden {
	display: none;
}

.center {
	text-align: center;
}

.spellcheck {
	margin: 25px 0;
	font-size: 1.25em;
	font-weight: bold;
}
