@charset "UTF-8";
html,body {
	margin: 0;
	padding: 0;
	border: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
html {
	font-size: 100.01%;
}
div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,pre,a,abbr,acronym,address,code,del,dfn,em,img,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,caption,tbody,tfoot,thead,tr {
	margin: 0;
	padding: 0;
	border: 0;
	font-weight: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
blockquote,q {
	margin: 0;
	padding: 0;
	border: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
	quotes: "" "";
}
blockquote:before,blockquote:after,q:before,q:after {
	content: "";
}
th,td,caption {
	margin: 0;
	padding: 0;
	border: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
	text-align: left;
	font-weight: normal;
	vertical-align: middle
}
table {
	margin: 0;
	padding: 0;
	border: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
	border-collapse: separate;
	border-spacing: 0;
	vertical-align: middle;
}
a img {
	border: none;
}
body {
	background: url('images/header.png') repeat-x white;color: #666;
	font-size: 11px;
}
body,div,p,span {
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}
tbody .body {
	width: 100%;
}
h2,h3 {
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-size: 18px;
	letter-spacing: 2px;
	text-transform: uppercase;
}
h2 {
	margin-bottom: 20px;
}
h3 {
	color: #aaa;
	font-size: 14px;
	margin-top: 10px;
	padding-top: 20px;
}
a,a:hover,a:active,a:link,a:focus,.highlight {
	text-decoration: none;
	color: #62b4e3;
}
a:hover {
	color: #000;
}
#header,#content,#footer {
	width: 950px;
	margin: 0 auto;
	overflow: hidden;
	*zoom: 1;
}
#header {
	height: 146px;
	overflow: visible;
	position: relative;
	z-index: 999;
}
#header #userinfo {
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transition: opacity 200ms linear 100ms;
	-moz-transition: opacity 200ms linear 100ms;
	-o-transition: opacity 200ms linear 100ms;
	transition: opacity 200ms linear 100ms;
}
#header:hover #userinfo {
	opacity: 1.0;
	-moz-opacity: 1;
	filter: alpha(opacity=100);
}
#header ul li {
	list-style: none;
}
#header a,#header a:hover,#header a:active,#header a:link,#header a:focus {
	text-decoration: none;
	color: #b7b7b7;
}
#header a:hover {
	color: #777;
}
#header a.username {
	color: #777;
	font-weight: bold;
}
#header a.username:active,#header a.username:link,#header a.username:focus {
	color: #777;
}
#header a.username:hover {
	color: #000;
}
#logo {
	display: inline;
	float: left;
	margin-right: 40px;
	width: 158px;
	margin-top: 91px;
}
* html #logo {
	overflow-x: hidden;
}
#logo a {
	background: url('images/logo.png') no-repeat;
	display: block;
	height: 32px;
	width: 97px;
}
#logo a:active,#logo a:focus {
	outline: 0;
}
#userinfo {
	display: inline;
	float: left;
	margin-right: 0;
	width: 950px;
	font-size: 11px;
	float: none;
	position: absolute;
	left: 0;
	top: 10px;
}
* html #userinfo {
	overflow-x: hidden;
}
#menu {
	display: inline;
	float: left;
	margin-right: 0;
}
* html #menu {
	overflow-x: hidden;
}
#searchbars {
	display: inline;
	float: left;
	margin-right: 0;
	width: 950px;
	height: 25px;
	left: 0;
	overflow: visible;
	position: absolute;
	top: 133px;
	width: 960px;
}
* html #searchbars {
	overflow-x: hidden;
}
#searchbars form ul {
	background: #fff;
	margin-left: 2px;
	padding: 10px;
	width: 130px;
	z-index: 999;
	-moz-box-shadow: #cccccc 0 1px 4px 0;
	-webkit-box-shadow: #cccccc 0 1px 4px 0;
	-o-box-shadow: #cccccc 0 1px 4px 0;
	box-shadow: #cccccc 0 1px 4px 0;
}
#searchbars form ul li {
	cursor: pointer;
	display: block;
	float: none;
	padding: 0 5px;
}
#searchbars ul li {
	display: inline;
	float: left;
	margin-right: 17px;
}
#searchbars ul li:last-child {
	margin-right: 0;
}
#searchbars form {
	width: 142px;
}
#searchbars input {
	width: 100%;
}
#userinfo_username,#userinfo_major,#userinfo_minor {
	float: left;
	width: 120px;
}
#userinfo_username li,#userinfo_major li,#userinfo_minor li {
	font-size: 11px;
}
#alerts {
	position: absolute;
	top: 152px;
	text-align: right;
	padding-right: 3px;
	display: block;
	width: 100%;
}
.alertbar {
	display: inline;
	margin-left: 10px;
}
#userinfo_minor {
	width: 360px;
}
#userinfo_minor li {
	float: left;
	width: 160px;
}
#userinfo_major,#userinfo_minor {
	padding-left: 60px;
	border-left: 1px solid #ddd;
}
#userinfo_stats {
	font-size: 10px;
	position: absolute;
	right: 0;
	text-align: right;
	top: 0;
}
#menu {
	right: 0;
	position: absolute;
	top: 84px;
	text-align: right;
}
#menu ul li {
	display: inline;
	font-size: 14px;
	font-weight: lighter;
	margin-left: 20px;
	text-transform: uppercase;
}
#menu li a {
	color: #999;
}
#menu li a:active,#menu li a:link,#menu li a:focus {
	color: #999;
}
#menu li a:hover {
	color: #444;
}
.my_reqBuffer,.my_demBuffer {
	color: #B7B7B7;
	position: absolute;
	right: 135px;
	width: 130px;
	text-align: left;
	top: 0px;
}
.my_demBuffer {
	top: 1.6em;
}
#footer {
	background: #e8e8e8;
	padding: 10px 0;
	margin-left: 0;
	margin-top: 40px;
	text-align: center;
	width: 100%;
}
#footer .time {
	float: none;
}
input,textarea {
	border: 1px solid #eee;
	color: #bbb;
	padding: 3px 5px;
}
input:hover,input:focus,textarea:hover,textarea:focus {
	border: 1px solid #aaa;
	color: #888;
	outline: none;
}
.box select {
	margin: 5px 0;
}
input[type="text"] {
	cursor: text;
}
.sidebar input[type="text"] {
	width: 125px;
}
input[type="submit"],input[type="button"] {
	background: #eee;
	color: #777;
}
input[type="submit"]:hover,input[type="button"]:hover {
	background: #fff;
}
textarea {
	margin-bottom: 20px;
}
.box .submit input[type="submit"],.box .submit input[type="button"] {
	margin-left: 10px;
}
.curtain {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #111 50% 0 no-repeat fixed;
	z-index: 1001;
	-moz-opacity: 0.9;
	opacity: .90;
	filter: alpha(opacity=90);
}
.lightbox {
	position: fixed;
	text-align: center;
	top: 5%;
	left: 5%;
	width: 90%;
	height: 90%;
	padding: 0px;
	z-index: 1002;
	overflow: auto;
}
.lightbox img {
	max-width: 100%;
	max-height: 100%;
	background-color: transparent;
	z-index: -1;
}
#wrapper {
	position: relative;
}
#content {
	margin-top: 50px;
}
.sidebar {
	display: inline;
	float: left;
	margin-right: 0;
	width: 257px;
	border-left: 1px solid #fafafa;
	float: right;
	font-size: 10px;
	padding-left: 40px;
	width: 216px;
}
* html .sidebar {
	overflow-x: hidden;
}
.sidebar li {
	list-style: none;
}
.main_column {
	display: inline;
	float: left;
	width: 653px;
}
* html .main_column {
	overflow-x: hidden;
}
.box, .box2 {
	border-bottom: 1px solid #eee;
	margin-bottom: 20px;
	padding-bottom: 20px;
}
.box:last-child, .box2:last-child {
	border-bottom: 0;
}
.head strong {
	font-size: 16px;
	font-weight: bold;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}
.head {
	margin-bottom: 10px;
}
#recommended .head a {
	float: right;
}
.time {
	color: #aaa;
	float: right;
	font-style: italic;
}
.group,.colhead {
	background: #e8e8e8;
	padding: 10px;
}
table {
	border: 1px solid #eee;
	margin: 20px 0;
	width: 100%;
}
table td, table th {
	border-bottom: 1px solid #eee;
	padding: 8px;
	vertical-align: top;
}
table tr:last-of-type td {
	border-bottom: 0;
}
table#taglist,table.cat_list,.filter_torrents table:first-of-type,#collage #content form:first-of-type table {
	margin: 5px 0;
}
table#taglist td,table.cat_list td,.filter_torrents table:first-of-type td,#collage #content form:first-of-type table td {
	background: #fafafa;
	border-bottom: 0;
}
table#taglist td {
	padding: 2px 8px;
}
table .time {
	float: none;
}
.colhead td,.colhead th {
	font-weight: bold;
}
.filter_torrents div.submit {
	margin-top: 10px;
	text-align: right;
}
.filter_torrents div.submit span {
	padding-top: 3px;
}
.filter_torrents div.submit input:last-of-type {
	margin-left: 0;
}
#collage_table {
	border: 0;
	width: inherit;
}
#collage_table td {
	background: none;
	padding: 2px;
	text-align: center;
	vertical-align: middle;
}
table tr td.edition_info {
	background: #f5f5f5;
}
#artist .header .linkbox:first-of-type {
	text-align: right;
	position: absolute;
	top: 0;
	right: 0;
	width: 300px;
}
#artist .header .linkbox:first-of-type a {
	margin-right: 5px;
}
.r00,.r01,.r02,.r03,.r04,.r05 {
	color: #e30;
}
.r06,.r07,.r08,.r09,.r10 {
	color: #555;
}
.r20,.r50,.r99 {
	color: #1a5;
}
span.size1 {
	font-size: 0.75em;
}
span.size2 {
	font-size: 1em;
}
span.size3 {
	font-size: 1.25em;
}
span.size4 {
	font-size: 1.5em;
}
span.size5 {
	font-size: 1.75em;
}
span.size6 {
	font-size: 2em;
}
span.size7 {
	font-size: 2.25em;
}
span.size8 {
	font-size: 2.5em;
}
span.size9 {
	font-size: 2.75em;
}
span.size10 {
	font-size: 3em;
}
.pad {
	padding: 7px 0;
}
.center {
	text-align: center;
}
.nobullet {
	list-style: none;
	margin: 0;
	padding: 10px;
}
.nobr {
	white-space: nowrap;
}
.linkbox {
	text-align: center;
}
.thin {
	position: relative;
}
blockquote,.save_message {
	background: #fafafa;
	color: #999;
	font-style: italic;
	margin: 10px 0;
	padding: 20px;
}
.save_message {
	text-align: center;
}
.graph {
	height: 3px;
	margin-bottom: 3px;
}
.graph .center_poll {
	background: #ccc;
	display: block;
	height: 3px;
}
.poll {
	padding: 0;
}
.forum_post tr td {
	border-bottom: 0;
}
.forum_post .time {
	margin-left: 5px;
}
.forum_post strong a {
	font-weight: bold;
}
.forum_post .avatar {
	padding-right: 32px;
	width: 120px;
}
.avatar {
	vertical-align: top;
}
#quickpostform {
	margin-bottom: 20px;
}
img[src*="snatched.png"] {
	width: 0;
	height: 15px;
	padding-right: 20px;
	background: transparent url('images/snatched.png') top left no-repeat;
}
img[src*="leechers.png"] {
	width: 0;
	height: 15px;
	padding-right: 20px;
	background: transparent url('images/leechers.png') top left no-repeat;
}
img[src*="seeders.png"] {
	width: 0;
	height: 15px;
	padding-right: 20px;
	background: transparent url('images/seeders.png') top left no-repeat;
}
ul.stats {
	padding: 0;
}
.colhead_dark {
	background: #f5f5f5;
	padding: 0.5em;
	font-size: 12px;
	font-weight: bold;
	font-family: Georgia,Palatino,"Palatino Linotype",Times,"Times New Roman",serif;
}
#menu {
	top: 101px;
}
#userinfo {
	margin-top: 14px;
}
#userinfo_minor {
	width: 320px;
}
#content {
	margin-top: 30px;
	z-index: 100;
}
#userinfo_stats {
	right: 3px;
}
#disclaimer_container {
	width: 700px;
	margin: -10px auto 10px auto;
}
#alerts {
	font-weight: bold;
	top: 4px;
}
table tr td.unread,table tr td.unread_sticky,table tr td.read,table tr td.read_sticky,table tr td.read_locked_sticky,table tr td.unread_locked_sticky {
	background: url('images/icons.png') no-repeat 10px 9px;
	padding-left: 15px;
}
table tr td div.cats_audiobooks,table tr td div.cats_ebooks,table tr td div.cats_applications,table tr td div.cats_music,table tr td div.cats_elearningvideos,table tr td div.cats_comedy,table tr td div.cats_comics {
	background: url('images/icons.png') no-repeat -128px -28px;
	height: 16px;
	width: 16px;
}
table tr td div.cats_ebooks {
	background-position: -154px 1px;
}
table tr td div.cats_applications {
	background-position: -206px 1px;
}
table tr td div.cats_music {
	background-position: -128px 1px;
}
table tr td div.cats_elearningvideos {
	background-position: -180px -29px;
}
table tr td div.cats_comedy {
	background-position: -207px -29px;
}
table tr td div.cats_comics {
	background-position: -155px -29px;
}
table tr td.read_sticky {
	background-position: -42px 9px;
}
table tr td.unread_sticky {
	background-position: -42px -20px;
}
table tr td.read_locked_sticky {
	background-position: -94px 9px;
}
table tr td.unread_locked_sticky {
	background-position: -94px -20px;
}
.hide_torrents a.show_torrents_link,.show_torrents a.show_torrents_link {
	background: url('images/icons.png') no-repeat 4px -50px;
	display: block;
	height: 16px;
	width: 16px;
}
.hide_torrents a.show_torrents_link:active,.hide_torrents a.show_torrents_link:focus,.show_torrents a.show_torrents_link:active,.show_torrents a.show_torrents_link:focus {
	outline: 0;
}
.hide_torrents a.show_torrents_link {
	background-position: -23px -50px;
}
.filter_torrents .head,.filter_torrents .head strong {
	color: #aaa;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-size: 14px;
	font-weight: normal;
	margin-top: 10px;
	margin-bottom: 0;
	letter-spacing: 2px;
	padding-top: 20px;
	text-transform: uppercase;
}
.user_options .options_list {
	padding: 0;
}
#site_debug {
	width: 950px;
	margin: 0 auto;
	overflow: hidden;
	*zoom: 1;
}
#site_debug table {
	border-bottom: 0;
	margin: 0;
}
pre {
	font-family: 'Bitstream Vera Sans Mono','Courier',monospace;
	padding: 1em;
}
.last_read {
	width: 15px;
	height: 15px;
	background: url(images/go_last_read.png) no-repeat center center;
	margin-left: 5px;
}
.last_read a {
	border: none;
	width: 100%;
	height: 100%;
	display: block;
}
.last_read a:hover {
	border: none;
}
strong.quoteheader {
	color: #666
}
ul.collage_images {
	width: 650px !important;
}

ul.collage_images li {
	width: 130px !important;
	height: 130px !important;
}

ul.collage_images li a {
	height: 130px !important;
}

ul.collage_images img {
	height: 130px !important;
	width: 130px !important;
}

#drag_drop_textnote ul {
	padding-left: 25px;
}


tr.torrent .bookmark > a:before { content: ""; }
tr.torrent .bookmark > a:after { content: ""; }

.navigation_list li {
	margin-left: 20px;
}

.linkbox .brackets:before,
.linkbox .brackets:after,
.top10_quantity_links .brackets:before,
.top10_quantity_links .brackets:after {
	color: #666;
}

.field_div {
	margin-bottom: 10px;
}

.edit_changelog textarea {
	width: 600px;
}

.field_div#cl_message {
	margin-bottom: 0px;
}

div[class~=tooltipster-base] {
	background-color: #FFFFFF;
	border-color: #EEEEEE;
	color: #666666;
}

#settings_sections {
	width: inherit;
	margin-left: -40px;
	width: 257px;
}

#settings_sections h2 {
	font-size: 10pt;
}

.user_options {
	margin-top: 0;
}

.user_options .label {
	width: 150px;
}

.permission_container {
	float: left;
	margin-left: 20px;
	width: 303px;
}

.permission_container:first-child {
	margin-left: 0;
}

.two_columns:first-of-type {
	padding-right: 7px;
}

.two_columns:last-of-type {
	padding-left: 7px;
}

.forum_post td img,
#collage #reply_box img,
#forums #reply_box img {
	max-width: 740px;
}

#artistcomments img,
#request_comments img,
#torrent_comments img,
#artistcomments #reply_box img,
#request_comments #reply_box img,
#torrent_comments #reply_box img {
	max-width: 445px;
}

#artist_information img,
.box_request_desc img,
.profileinfo img,
.news_post img,
.torrent_description img,
.wiki_article img {
	max-width: 650px;
}

.torrentdetails img {
	max-width: 590px;
}

.blog_post img,
#inbox .body img,
#inbox #preview img,
#staffpm #reply_box img,
#wiki .create_form img,
#wiki .edit_form img {
	max-width: 950px;
}

#userform img {
	max-width: 515px;
}

#reportsv2 .manage_form img {
	max-width: 532px;
}
