/* Layout (Torrents page) */

/* We're going to opt for the category icon method for now, tags_* is also available */
.cats_applications { width: 28px; height: 28px; background: url('images/apps.png') no-repeat center center; }
.cats_audiobooks { width: 28px; height: 28px; background: url('images/audiobook.png') no-repeat center center; }
.cats_comedy { width: 28px; height: 28px; background: url('images/comedy.png') no-repeat center center; }
.cats_comics { width: 28px; height: 28px; background: url('images/comics.png') no-repeat center center; }
.cats_ebooks { width: 28px; height: 28px; background: url('images/ebook.png') no-repeat center center; }
.cats_elearningvideos { width: 28px; height: 28px; background: url('images/elearning.png') no-repeat center center; }

.cats_music { width: 28px; height: 28px; background: url('images/music.png') no-repeat center center; }

/* Global */

* {
	padding: 0em;
	margin: 0em;
}

html {
	width: 100%;
}

body {
	width: 100%;
	font-family: tahoma,helvetica,sans-serif;
	font-size: 8pt;
	color: #999;
	min-width: 850px;
	background-color: #222;
}

/* Common elements */

a {
	text-decoration: none;
	border: none;
	color: #ccc;
}

a:hover {
	text-decoration: underline;
	color: #aaaaaa;
}


a.similar_artist {
	background-color: #444444;
	display: block;
	padding: 1px 4px;
	color: #FFF;
	border: 1px solid #fff;
}

a.similar_artist:hover {
	background-color: #555;
}

.similar_artist_header {
	color: #FFF;
	background-color: #666;
	border: 1px solid #fff;
	padding: 3px 5px;
}

h1,h2,h3,h4 {
	margin: 5px 0px;
	font-weight: bold;
}

h2 {
	text-align: center;
	font-size: 12pt;
	color: #fff;
}

h4 {
	font-size: 8pt;
}

p {
	margin: 10px 5px;
}

li {
	margin: 5px 15px;
}

input {
	padding: 2px 3px;
}

textarea {
	padding: 2px 3px;
}

img {
	border: none;
}


/* Ratio Colors */

.r00 { color: #FF0000; }
.r01 { color: #FF1300; }
.r02 { color: #FF1300; }
.r03 { color: #FF2600; }
.r04 { color: #FF4C00; }
.r05 { color: #FF5E00; }
.r06 { color: #FF5E00; }
.r07 { color: #FF7100; }
.r08 { color: #FF9700; }
.r09 { color: #FFAA00; }
.r10 { color: #74C42E; }
.r20 { color: #418B00; }
.r50 { color: #418B00; }
.r99 { color: #418B00; }

/* Styles generated by the BBCode parser */

span.size1 {
	font-size: 0.75em;
}

span.size2 {
	font-size: 1em;
}

span.size3 {
	font-size: 1.25em;
}

span.size4 {
	font-size: 1.5em;
}

span.size5 {
	font-size: 1.75em;
}

span.size6 {
	font-size: 2em;
}

span.size7 {
	font-size: 2.25em;
}

span.size8 {
	font-size: 2.5em;
}

span.size9 {
	font-size: 2.75em;
}

span.size10 {
	font-size: 3em;
}

ul.thin {
	margin: 0px 0px 0px 25px;
	padding: 0px;
}

ul.thin li {
	margin: 0px 0px;
	padding: 0px;
}

/* Layout (Every page) */

#header {
	width: 100%;
	padding: 0px 0 0 0;
}

#content {
	margin: auto;
	width: 100%;
	overflow: hidden;
	background-color: #303030;
	position: relative;
	top: 60px;
	min-width: 850px;
}

#wrapper {
	width: 90%;
	margin: 0px auto;
}

#footer {
	margin-top: 60px;
	width: 100%;
	text-align: center;
	padding: 1em 0;
	color: #fff;
}

#logo {
	width: 220px;
	height: 50px;
	background: url('images/logo.png') no-repeat center center;
	margin: 5px auto 0px auto;
}

#logo a {
	border: none;
	width: 220px;
	height: 50px;
	display: block;
}

#logo a:hover {
	border: none;
}

#menu {
	position: absolute;
	top: 85px;
	width: 90%;
	padding: 0.6em 0;
	text-align: center;
	background-color: #222;
	font-size: 10pt;
	min-width: 850px;
}

#menu ul li {
	position: relative;
	display: inline;
	background-color: #454545;
	padding: 6px 0;
	margin: 0px;
}

#index #nav_index, #torrents #nav_torrents, #requests #nav_requests, #forums #nav_forums, #top10 #nav_top10, #rules #nav_rules, #wiki #nav_wiki, #staff #nav_staff, #collage #nav_collages, #chat #nav_irc {
	background-color: #303030;
}

#menu ul li a {
	padding: 0.6em 2%;
	color: #fff;
}

#menu ul li a:hover {
	background-color: #303030;
	text-decoration: none;
	color: #fff;
}

#userinfo {
	background: #1c1c1c;
	color: #777;
	width: 100%;
	text-align: center;
	font-size: 8pt;
	padding: 3px 0px;
	z-index: 10;
	min-width: 850px;
}

#userinfo img {

}

#userinfo ul {
	display: inline;
	margin: 0px 0.8%;
	padding: 4px;
}

#userinfo ul li {
	position: relative;
	display: inline;
	margin: 0 0.1em;
	line-height: 20px;
	vertical-align: middle;
	padding: 2px;
}

#userinfo a {
	color: #777;
}

#userinfo a:hover {
	text-decoration: underline;
}

#userinfo b a {
	font-weight: normal;
	font-size: 0.9em;
}

#userinfo span.stat {
	color: #AAA;
}

#userinfo_username {
	position: absolute;
	top: 10px;
	left: 5%;
}

#userinfo_major {
	position: absolute;
	top: 10px;
	right: 5%;
}

#searchbars {
	position: absolute;
	top: 115px;
	width: 90%;
	text-align: center;
	background-color: #303030;
	padding: 4px 0px;
	min-width: 850px;
}

#searchbars input {
	position: relative;
	padding: 3px 3px 3px 5px;
	font-size: 0.9em;
	background-color: #222;
	color: #ccc;
	border: 1px solid #303030;
}

#searchbars ul {
	margin: 0 auto;
	display: block;
}

#searchbars ul li {
	display: inline;
	margin: 0px 1px;
	list-style: none;
	position: relative;
}

#searchbars ul li ul {
	display: block;
	position: absolute;
	top: 1em;
	left: 0;
	z-index: 1000;
	width: 12em;
	margin-top: 12px;
}

#searchbars ul li ul li {
	margin: 0;
	padding: 0;
	display: block;
	width: 100%;
	background: #303030;
}

#searchbars ul li ul li.highlight {
	background: #454545;
}

#searchbars ul li form {
	display: inline;
}

#alerts {
	position: relative;
	margin-top: 60px;
	margin-bottom: -60px;
	padding: 10px 0px;
	width: 100%;
	background-color: #303030;
	min-width: 850px;
}

#alerts a {
	color: #ccc;
}

.alertbar.blend {
	background-color: #222;
	border: 1px solid #303030;
}

#cat-selector ul {
	width: 100%;
}

#cat-selector ul li {
	display: inline;
	width: 12em;
	height: 1em;
	float: left;
}

.alertbar {
	background-color: #222;
	text-align: center;
	color: #ccc;
	font-weight: bold;
	font-size: 0.95em;
	width: 350px;
	margin: 0px auto 0px auto;
	padding: 10px;
}

.alertbar a {
	color: #555;
	text-decoration: underline;
}

.alertbar a:hover {
	color: #777;
	text-decoration: none;
}

/* IE doesn't appear to like a simple display:none in our header. Random things start fucking up pretty badly. */

.hidden {
	position: absolute;
	left: -10000px;
}

input.hidden {
	position: absolute;
	display: none;
}

/* Layout (Any page) */

.thin {
	width: 850px;
	margin: 0px auto;
}

.widethin { /* overriding the thin class on torrents.php */
	width: 95% !important;
	margin: 0px auto;
}

#userinfo_major .brackets:before {
	font-weight: bold;
}

#userinfo_major .brackets:after {
	font-weight: bold;
}

div.linkbox {
	text-align: center;
	padding: 5px;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}

.min_padding {
	padding: 0px;
	margin: 0px 0px;
}

p.min_padding {
	margin: 2px 0px;
}

.pad {
	padding: 1em;
}

.sidebar .pad {
	padding: 9px;
}

.vertical_space {
	margin-bottom: 10px;
}

.box {
	font-size: 8pt;
	background-color: #282828;
	border: 1px solid #303030;
	margin-bottom: 10px;
}

.box2 {
	font-size: 8pt;
	background-color: #282828;
	border: 1px solid #303030;
	margin-bottom: 10px;
}

.pad h3,.pad h4,.padbox h3,.padbox h4 {
	margin-top: 0px;
	padding-top: 0px;
}

.sidebar {
	float: right;
	width: 245px;
}

.head {
	padding: 4px;
	border-bottom: 1px solid #303030;
	background: #121212;
	color: white;
}

.body {
	padding: 3px 10px 10px 10px;
}

.main_column {
	width: 592px;
}

.main_column table {
	margin-bottom: 10px;
}

.tags {
	padding: 0px 0px 0px 20px;
	font-style: italic;
}

.tags a {
	color: #7e7e7e;
}

.tags a:hover {
	color: #dedede;
	text-decoration: none;
}

.noborder {
	border: none;
}

ul.nobullet {
	list-style-type: none;
}

table {
	width: 100%;
	border-collapse: collapse;
	border: 1px solid #303030;
}

tr {
	border: 1px solid #303030;
	background-color: #222;
}

tr.rowa {
	background-color: #222222;
}

td, th {
	border: 1px solid #303030;
	padding: 5px;
	text-align: left;
}

.colhead {
	background: #121212;
	font-weight: bold;
	color: #ffffff;
}

td.colhead,.colhead td, .colhead th {
	padding-left: 10px;
	padding-right: 10px;
}

.colhead .sign {
	padding: 0px 8px 0px 8px;
	font-size: 12pt;
	font-weight: bold;
	vertical-align: middle;
}

.colhead_dark {
	background: #121212;
	color: #ccc;
	vertical-align: middle;
}

.colhead_dark a {
	color: #fff;
}

td.label {
	font-weight: bold;
	text-align: right;
	width: 180px;
}

table.slice {
	margin-top: -1px;
}

.error_message {
	border: 1px solid #666;
	padding: 3px 0px 3px 0px;
	background-color: #AF2525;
	text-align: center;
	color: white;
	font-weight: bold;
}

.save_message {
	border: 1px solid #666;
	padding: 3px 0px 3px 0px;
	background-color: #F4E649;
	text-align: center;
	color: #492802;
	font-weight: bold;
}

.elem_error {
	border: 3px solid #B00D0D;
}

.hidden {
	display: none;
}

/* Layout (home page) */

ul.stats li {
	padding: 0px 0px 1px 0px;
}

ul.poll li {
	padding: 0px 0px 0px 10px;
	margin: 0px;
	clear: left;
}

ul.poll li.graph {
	margin-bottom: 3px;
	padding-left: 20px;
}

/* Layout (Torrents page) */

.show_torrents {
	width: 28px;
	height: 28px;
	background: url('images/show.png') no-repeat center center;
}

.hide_torrents {
	width: 28px;
	height: 28px;
	background: url('images/hide.png') no-repeat center center;
}

.show_torrents_link {
	border: none;
	width: 28px;
	height: 28px;
	display: block;
}

.filter_torrents {
	width: 750px;
	margin: auto;
}

.filter_torrents .submit {
	text-align: right;
	padding-top: 5px;
}

#content form.search_form + .torrent_table {
	margin-top: 20px;
}

.cat_list tr td {
	border: none;
}

.torrent_table tr {
	vertical-align: top;
}

.colhead .sign, .colhead_dark .sign {
	padding: 0px 8px 0px 8px;
	vertical-align:middle;
	text-align:center;
	font-size: 12pt;
	font-weight: bold;
}

.torrent_table tr.group, tr.group_torrent, tr.torrent {
	background-color: #222;
}

.torrent_table div.tags {
	font-weight: normal;
}

.torrent_table tr .center {
	vertical-align: middle;
	text-align: center;
}

.group_torrent span {
	float: right;
}

.torrent span {
	font-weight:normal;
	float:right;
}

.nobr {
	white-space: nowrap;
}

/* Layout (Forums) */

.last_read {width: 15px; height: 15px; background: url(images/go_last_read.png) no-repeat center center; margin-left: 5px;}
.last_read a { border: none; width: 100%; height: 100%; display: block; }
.last_read a:hover { border: none; }

.unread_locked_sticky,.read_locked_sticky {background: url(images/locked_sticky.png) no-repeat center center;}
.read_sticky,.unread_sticky{background: url(images/sticky.png) no-repeat center center;}
.unread_locked {background: url(images/locked_unread.png) no-repeat center center;}
.read_locked {background: url(images/locked_read.png) no-repeat center center;}
.unread{background: url(images/unread.png) no-repeat center center;}
.read{background: url(images/read.png) no-repeat center center;}
strong.quoteheader{color: #999; }

table.forum_post {
	margin: 10px 0px;
}

table.forum_post td {
	border: 1px solid #303030;
}

table.forum_unread {
	border: 2px solid #CCC;
}

td.avatar {
	width: 150px;
	padding: 0px;
}

table.forum_post td.body {
	max-width: 675px;
}

tbody {
	max-width: 690px;
}

blockquote {
	margin: 10px;
	padding: 10px;
	border: 1px dashed #666;
}

/* Layout (Inbox) */

tr.unreadpm {
	background-color: #692222;
}

/* Layout (Permission Page) */

.permission_head {
	width: 400px;
	margin-left: auto;
	margin-right: auto;
}

.permissions {
	width: 930px;
	margin-left: auto;
	margin-right: auto;
}

.permission_container {
	float: left;
	width: 300px;
	padding: 5px;
}

.permission_container input {
	margin: 0px 3px 5px 0px;
	vertical-align: top;
}

.submit_container {
	clear: both;
	text-align: right;
}

/* Layout (Invite tree) */

ul .invitetree {
	margin: 0px 0px 0px 25px;
}

.invitetree li {
	list-style: none;
	margin: 10px 2px;
}

/* Layout (User options) */

.user_options .options_list li {
	margin: 0;
}

/* Layout (MISC) */

.left_poll {
	width: 2px;
	height: 9px;
	background: url('images/bar_left.gif') no-repeat center center;
	float: left;
	margin: 0px;
	padding: 0px;
}

.center_poll {
	height: 9px;
	background: url('images/bar.gif') repeat;
	float: left;
	margin: 0px;
	padding: 0px;
}

.right_poll {
	width: 2px;
	height: 9px;
	background: url('images/bar_right.gif') no-repeat center center;
	float: left;
	margin: 0px;
	padding: 0px;
}

.curtain {
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index: 1001;
	-moz-opacity: 0.8;
	opacity: .80;
	filter: alpha(opacity=80);
}

.lightbox {
	position: fixed;
	text-align: center;
	top: 5%;
	left: 5%;
	width: 90%;
	height: 90%;
	padding: 0px;
	z-index: 1002;
	overflow: auto;
}

table#torrent_table.torrent_table {
	margin: auto;
}

form tr {
	background-color: #222222;
}

.center {
	text-align: center;
}

.spellcheck {
	margin: 25px 0;
	font-size: 1.25em;
	font-weight: bold;
}

tr.torrent .bookmark > a:before { color:#999; }
tr.torrent .bookmark > a:after { color:#999; }

.linkbox .brackets:before,
.linkbox .brackets:after,
.top10_quantity_links .brackets:before,
.top10_quantity_links .brackets:after {
	color: #999;
}

.field_div {
	margin-bottom: 10px;
}

.edit_changelog textarea {
	width: 600px;
}

.autocomplete-suggestions {
	background: #222;
}

.post_id {
	font-weight: normal;
}

.vote_tag_up, .vote_artist_up, .vote_album_up, .small_upvote, .small_upvoted {
	color: green;
}

.vote_tag_down, .vote_artist_down, .vote_album_down, .small_downvote, .small_downvoted {
	color: red;
}

/* workaround for calendar display issue */
div.sidebar #event_div {
	margin-left: -232px;
}

ol {
	margin-left: 1em;
}

#forum_search_cat_list, #forum_search_cat_list tr {
	border: none;
}
