/* GLOBAL */

body {
	background: #3f3f3f;
	font-family: Arial, sans-serif;
	font-size: 0.7em;
	margin: 0 0 0 0;
}


a, a:visited, a:active {
	color: #007dc6;
	text-decoration: none;
}

a:hover {
	color: #22b9ff;
	text-decoration: none;
}

a img {
	border-style: none;
	position: relative;
	top: 1px;
}

#wrapper {
	width: 1024px;
	height: 100%;
	background: #1c1c1c url('images/wrapper.png') repeat-y;
	margin: 0 auto;
}

#footer {
	padding: 20px 0 20px 0;
	color: #a5a5a5;
	text-align: left;
	border-left: 1px solid #181818;
	border-right: 1px solid #181818;
	border-bottom: 1px solid #181818;
	background: #252525 url('images/footer.png') bottom left repeat-x;
	position: relative;
	margin: 0px auto;
	z-index: 1;
	overflow: hidden;
	clear: both;
	width: 940px;
}

#footer #disclaimer_container {
	font-weight: normal;
	text-align: left !important;
	margin: 0 0 20px 20px !important;
	padding: 0 0 20px 0;
	border-bottom: 1px solid #4f4f4f;
}

#wrapper>#site_debug {
	padding: 20px 0 20px 0;
	color: #a5a5a5;
	text-align: left;
	border-left: 1px solid #181818;
	border-right: 1px solid #181818;
	border-bottom: 1px solid #181818;
	background: #252525 url('images/footer.png') bottom left repeat-x;
	position: relative;
	margin: 0px auto;
	z-index: 1;
	overflow: hidden;
	clear: both;
	width: 940px;
}

#footer p {
	float: left;
	width: 130px;
	height: 50px;
	border-right: 1px solid #4f4f4f;
	margin: 0 0 0 20px;
	padding: 0 20px 0 10px;
}

#footer p:last-child {
	background: url('images/what_logo.png') 100% 70% no-repeat;
	padding: 0 275px 0 20px;
	margin: 0;
	border: 0px;
}

#footer a, #site_debug a {
	color: #c4c4c4;
}

#header {
	padding-top: 20px;
	margin: 0 auto;
	width: 960px;
	height: 154px;
	background: url('images/header.png') top left no-repeat;
}

/* GENERAL */

.hidden, .hide {
	display: none;
}

h1,h2,h3,h4{
	margin-top: 0;
	padding: 0;
}

.nobr {
	white-space: nowrap;
	font-weight: normal;
}

.rowa td {
	background-color: #2e2e2e;
}

.rowb td {
	background-color: #252525;
}

p {
	margin: 10px 0 5px 0;
}

td p {
	margin: 0;
}

input {
	cursor: pointer;
	cursor: hand;
}

input[type="text"],
input[type="search"] {
	cursor: text;
}

input,
input[type="search"], /* override global.css */
select,
textarea {
	font-family: Arial, sans-serif;
	font-size: 1em;
	border: 1px solid #323232;
}

textarea {
	width: 500px;
	height: 100px;
}

input,
input[type="search"], /* override global.css */
textarea {
	color: #878787;
	padding: 3px;
	background: #212121 url('images/inputbg.png') top left repeat-x;
}

select {
	padding: 1px;
}

.pad {
	padding: 0 !important;
}

.main_column .pad,
.sidebar .pad,
.box2 .pad {
	padding: 10px !important;
}

input:focus, textarea:focus, #searchbars input:focus {
	border: 1px solid #3f3f3f;
	color: #878787;
}

input[type="submit"], input[type="button"] {
	background-color: #2e2e2e;
	background-image: url('images/button.png');
	border-top: 1px solid #323232;
	border-left: 1px solid #323232;
	border-bottom: 1px solid #1f1f1f;
	border-right: 1px solid #1f1f1f;
	font-weight: bold;
}


input[type="submit"]:active, input[type="button"]:active {
	color: #007dc7 !important;
}

input[value="Upload torrent"], input[value="Upload torrents"] {
	margin: 15px 0 0 0;
	background-color: #2e2e2e;
	color: #a5cce9;
	background-image: url('images/button.png');
	border-top: 1px solid #323232;
	border-left: 1px solid #323232;
	border-bottom: 1px solid #1f1f1f;
	border-right: 1px solid #1f1f1f;
	font-weight: bold;
}

input[value="Upload torrent"],input[value="Upload torrents"]:active {
	color: #f4f4f4 !important;
}

/* TOP MENUS */

#menu ul, ul#userinfo_minor {
	width: 150px;
	list-style: none;
	padding: 0;
	margin: 0;
}

#header ul a {
	display: inline-block;
	padding: 1px 2px;
}

ul#userinfo_minor {
	width: 200px;
}

#menu ul li,
ul#userinfo_minor li {
	float: left;
	display: block;
	width: 74px;
}

ul#userinfo_minor li {
	width: 95px;
}

ul#userinfo_username, ul#userinfo_major, ul#userinfo_stats {
	margin: 0;
	padding: 0;
	list-style: none;
}

ul#userinfo_username li, ul#userinfo_major li, ul#userinfo_stats li {
	display: inline;
	font-weight: bold;
}

ul#userinfo_username li a {
	overflow: hidden;
	color: #d5efff;
}

ul#userinfo_username li a:hover {
	color: #ffffff;
}

ul#userinfo_username li a.username {
	color: #d5efff;
}

ul#userinfo_username li a.username:hover {
	color: #ffffff;
}

ul#userinfo_major li a {
	color: #d5efff;
}

ul#userinfo_major li a:hover {
	color: #ffffff;
}

ul#userinfo_stats li {
	font-weight: normal;
	color: #d5efff;
}

ul#userinfo_stats li a {
	font-weight: normal;
	color: #d5efff;
}

.blend, .blend a, .alertbar, .alertbar a {
	font-weight: bold;
	padding:2px;
	color: #d5efff;
}

.blend a:hover, .alertbar a:hover {
	color: #fff;
}

ul#userinfo_stats li span.stat {
	color: #d5efff;
}

ul#userinfo_minor a {
	color: #d5efff;
}

ul#userinfo_minor a:hover {
	color: #ffffff;
}
#menu a {
	color: #d5efff;
}
#menu a:hover {
	color: #ffffff;
}

#index #nav_index a,
#collage #nav_collages a,
#forums #nav_forums a,
#chat #nav_irc a,
#rules #nav_rules a,
#staff #nav_staff a,
#torrents #nav_torrents a,
#requests #nav_requests a,
#top10 #nav_top10 a,
#wiki #nav_wiki a {
	font-weight: bold;
}

.error_message {
	border: 1px solid #666;
	background-color: #CC0000;
	text-align: center;
	color: white;
	font-weight: bold;
	padding: 3px 0px 3px 0px;
	margin: 0em 0em 2em 0em;
}

.save_message {
	border: 1px solid #666;
	background-color: #325266;
	text-align: center;
	color: white;
	font-weight: bold;
	padding: 3px 0px 3px 0px;
	margin: 0em 0em 2em 0em;
}

/* ARRANGING MENUS */

#logo {
	width: 120px;
	height: 80px;
	z-index: 8;
	position: absolute;
}


#logo a {
	display: block;
	width:114px;
	height: 41px;
	background: transparent url('images/header_logo.png') no-repeat top left;
	margin-left: 11px;
	margin-top: 25px;
}


#menu ul, ul#userinfo_major, ul#userinfo_minor, ul#userinfo_stats, ul#userinfo_username, #alerts {
	position: absolute;
}


#menu ul {
	z-index: 7;
	padding-left: 150px;
	padding-bottom: 0;
}

ul#userinfo_major {
	z-index: 3;
	padding-left: 530px;
	width: 365px;
}

ul#userinfo_minor {
	z-index: 5;
	padding-top: 17px;
	padding-left: 320px;
}

ul#userinfo_stats {
	z-index: 4;
	margin-top: 17px;
	padding-left: 530px;
	width: 430px;
}

ul#userinfo_username {
	z-index: 6;
	padding-left: 320px;
	width: 185px;
}

.username {
	text-overflow: ellipsis;
	max-width: 70px;
}

#alerts {
	z-index: 2;
	padding-left: 530px;
	padding-top: 34px;
}

/* SEARCH BARS */


#searchbars input,
#searchbars input[type="search"] {
	background: transparent url('images/searchbox.png') top left no-repeat;
	border: 0 !important;
	height: 19px;
	width: 132px;
	margin: 0px 0px 0px -16px;
	padding: 4px 0px 0px 25px;
}

#searchbars {
	clear: both;
	width: 960px;
	position: absolute;
	top: 120px;
	height: 23px;
	margin-left: 20px;
}

#searchbars ul {
	padding: 0px 0px 0px 0px;
	margin: 0;
	list-style: none;
}

#searchbars ul li {
	display: inline;
	padding-right:15px;
	list-style: none;
	position: relative;
}

#searchbars ul li ul {
	display: block;
	position: absolute;
	top: 1em;
	left: 0;
	z-index: 1000;
	border: 1px solid #181818;
	background: #252525 url('images/content_main_x.png') top left repeat-x;
	width: 12em;
	margin-top: 12px;
}

#searchbars ul li ul li {
	margin: 1px 0 1px 4px;
	padding: 0;
	display: block;
	width: 100%;
	color: #878787;
	cursor: pointer;
}

#searchbars ul li ul li.highlight {
	color: #007DC6;
}

*:first-child+html #searchbars ul li {
	padding-right: 10px !important;
}

#searchbars form {
	display: inline;
}

#wrapper h1.hidden {
	display:none;
}


/* CONTENT */


#content {
	width: 900px;
	height: 100%;
	padding: 20px 20px 20px 20px;
	margin: -10px auto;
	background: #252525 url('images/content_main_x.png') top left repeat-x;
	color: #878787;
	z-index: 2;
	position: relative;
	border-left: 1px solid #181818;
	border-right: 1px solid #181818;
	border-top: 1px solid #181818;
}

#torrents #content h2 {
	margin: 10px 0 10px 0;
}

.header h2:first-child {
	background: #252525 url('images/content_repeat-x.png') repeat-x;
	margin: -20px -20px -1px -20px !important;
	padding: 13px 20px 10px 20px;
	border-bottom: 1px solid #181818;
	position: relative;
	z-index:3;
}

#content .box h2,
#content .box2 h2 {
	background: none;
	margin: 0;
	padding: 0;
	position: static;
	border-bottom: 0;
}

.label {
	width: 15%;
	border-right: 1px solid #252525;
}

#content table {
	padding: 0;
	border-collapse: collapse;
	width: 100%;
}

#content table td, #content table th {
	padding: 5px;
	border-top: 1px solid #252525;
}

#content table td h4 {
	margin: 0;
}

#content table .colhead a,
#content table .colhead_dark a {
	color: #989898;
	font-weight: bold;
}

#content table .colhead a:hover,
#content table .colhead_dark a:hover {
	color: #007dc6;
}

/* FRIENDS */

#friends table {
	width: 60%;
	margin: 0 auto;
}

#friends textarea {
	height: 42px;
	width: 270px !important;
	margin: 0;
}

#friends .left {
	width: 50%;
	text-align: right;
}

#friends br,
#footer br {
	display: none;
}

.sidebar br {
	line-height: 1px;
}

/* MESSAGES */

#inbox .vertical_space {
	width: 50%;
	margin: 0 auto;
	padding: 20px;
}

#inbox .box .body {
	width: 450px;
	margin: 25px auto 0 auto;
}

#inbox form .box {
	width: 100%;
	margin: 0 0 20px 0;
	padding: 0;
}

#inbox form textarea {
	margin: 0 0 10px 0;
}

#inbox .vertical_space .head {
	color: #bebebe;
	margin-bottom: 5px;
}

/* FORUMS */

#forums h3 {
	margin: 15px 0;
}

#forums h3:first-child {
	margin: 0 0 15px 0;
}

#quickreplypreview {
	background-color:#2e2e2e;
	border:1px solid #1f1f1f;
}

#forums .forum_post td,
#userhistory .forum_post td,
#collage .forum_post td,
#torrents .forum_post td {
	border: 1px solid #303030 !important;
	background: #1e1e1e url('images/forum_post.png') bottom left repeat-x;
}

#forums .forum_post,
#userhistory .forum_post,
#collage .forum_post,
#torrents .forum_post {
	border: 0;
	margin: 0;
}

#forums .forum_post td.avatar,
#userhistory .forum_post td.avatar,
#collage .forum_post td.avatar,
#torrents .forum_post td.avatar {
	border: 1px solid #303030;
	padding: 1px;
	background: #1e1e1e url('images/forum_post.png') bottom left repeat-x;
	width: 150px;
}

#forums .forum_post blockquote,
#userhistory .forum_post blockquote,
#collage .forum_post blockquote,
#torrents .forum_post blockquote,
#wiki .box blockquote {
	border: 1px solid #323232;
	background-color: #212121;
	padding: 6px;
}

#forums .forum_post .body,
#userhistory .forum_post .body,
#collage .forum_post .body,
#torrents .forum_post .body {
	padding: 0;
	border-left: 0;
}

#forums .forum_post td,
#userhistory .forum_post td,
#collage .forum_post td,
#torrents .forum_post td {
	border-left: 0;
	border-right: 0;
}

#forums .forum_post .body div,
#collage .forum_post .body div,
#torrents .forum_post .body div,
#userhistory .forum_post .body {
	padding: 20px 20px 25px 40px;
	max-width:697px;
}

#forums .forum_post .body div a,
#collage .forum_post .body div a,
#torrents .forum_post .body div a,
#userhistory .forum_post .body a {
	word-wrap: break-word;
}

#userhistory .forum_post .body {
	padding: 20px 20px 20px 40px;
}

#userhistory .forum_post tr.colhead_dark {
	background-color: #e8e8e8;
}

#forums .forum_post .body div div,
#collage .forum_post .body div div,
#torrents .forum_post .body div div{
	background: none;
	padding: 0;
}

.min_padding {
	padding: 0;
}

#forums .forum_post ul {
	margin: 5px 0 0 0;
	padding: 0;
}

#forums .forum_post li {
	margin: 0 0 0 20px;
	padding: 0;
}

#forums #content .thin .box form .box input[type="text"],
#forums #content .thin .box form .box input[type="search"] {
	font-size: 20px;
	width: 500px;
}

#forums #content form .box {
	width: 510px;
	margin: 0 auto;
	padding: 0;
}

td.body {
	width: 100%;
}

strong.quoteheader {
	color: #878787;
}

/* Toolbox */
.permission_container {
	float: left;
	margin-left: 20px;
	width: 286px;
}

.permission_container:first-child {
	margin-left: 0;
}

/* TORRENTS */

#torrents input[value="Edit torrent"] {
	margin: 5px 0 30px 0;
}

#torrents input[value="Change group ID"], #torrents input[value="Split into new group"] {
	margin: 0 0 0 -5px;
}

#torrents #content .center .box form h3 {
	margin: 5px 0;
}

#torrents .filter_torrents {
	width: 70%;
	margin: 0 auto;
	border: 1px solid #1f1f1f;
	-moz-border-radius: 7px;
	border-radius: 7px;
	padding: 8px;
	background: #2f2f2f url('images/filter.png') no-repeat;
}

#torrents .filter_torrents {
	margin: 20px auto 0 auto;
}

#torrents .filter_torrents table {
	background-color: transparent;
}

#torrents .filter_torrents .cat_list {
	border-bottom: 1px solid #3f3f3f;
	padding: 5px 0;
	height: 30px;
}

#torrents .filter_torrents td {
	padding: 2px 5px;
	border: 0;
}

#torrents .filter_torrents .inputtext {
	width: 150px;
}

#torrents .filter_torrents .smallest {
	width: 80px;
}

#torrents .filter_torrents table td.label {
	text-align: left;
	padding: 0;
	width: 20%;
}

#torrents .filter_torrents a#swaptags {
	font-weight: bold;
	text-align: center;
	display: block;
	padding: 5px 0;
}

#torrents .filter_torrents .submit {
	padding: 5px 0 0 0;
	font-weight: bold;
	text-align: right;
	direction: rtl;
}

#torrents .filter_torrents .submit span {
	direction: ltr;
}

.torrent a {
	font-weight: bold;
}

.linkbox {
	text-align: center;
	padding: 10px 0;
}

.linkbox:first-child {
	border-top: 1px solid #3f3f3f;
	border-bottom: 1px solid #3f3f3f;
}

.linkbox {
	border-top: 0px;
}

.show_torrents_link {
	border: none;
	width: 28px;
	height: 28px;
	display: block;
}

.show_torrents {
	width: 30px;
	height: 30px;
	background: url('images/show.png') no-repeat center center;
}

.hide_torrents {
	width: 30px;
	height: 30px;
	background: url('images/hide.png') no-repeat center center;
}

.group {
	font-weight: bold;
}

.group td.nobr {
	font-weight: normal;
}

.tags, .tags a {
	font-weight: normal;
	color: #888888;
}

.tags a:hover {
	color: #007dc6;
}

#torrent_table {
	margin: 0;
	padding: 0;
	border-collapse: collapse;
	width: 100%;
}

#torrent_table a img {
	border: 0;
}

#torrent_table td {
	margin: 0;
	padding: 3px;
	background-color: #2e2e2e;
}

.group_torrent td:first-child {

}

.colhead td, .colhead th, .colhead_dark td {
	background: #212121 url('images/bar2.png') !important;
	font-weight: bold;
	border-top: 1px solid #1f1f1f !important;
	border-bottom: 1px solid #1f1f1f !important;
}

#torrent_table .group_torrent td {
	background-color: #1f1f1f;
}

.torrent_table .group_torrent td {
	background-color: #1f1f1f;
}

.torrent_table .pad td {
	padding: 20px !important;
}

.torrent_table .pad td td {
	background: none;
	padding: 5px !important;
}

#torrent_table tr.group_torrent td span {
	padding-left: 74px;
}

#torrent_table tr.group_torrent td span a,
.torrent_table tr.group_torrent td span a {
	color: #007dd6;
}

#torrent_table tr.group_torrent td span a:hover,
.torrent_table tr.group_torrent td span a:hover {
	color: #47a9ef;
}

#torrent_table tr.group_torrent a,
.torrent_table tr.group_torrent a {
	color: #007dd6;
	font-weight: normal;
}

#torrent_table tr.group_torrent a:hover,
.torrent_table tr.group_torrent a:hover {
	color: #47a9ef;
}

#torrents #content .center .box form div input[type="text"],
#torrents #content .center .box form div input[type="search"],
#wiki #content .center .box form div input[type="text"],
#wiki #content .center .box form div input[type="search"],
#artist #content .center .box form div input[type="text"],
#artist #content .center .box form div input[type="search"] {
	width: 500px !important;
	margin-bottom: 10px;
}

#torrents #content .center .box form div textarea,
#wiki #content .center .box form div textarea,
#upload textarea#album_desc,
#forums #content .thin .box form .box textarea,
#forums #quickpost,
#edit_collage textarea {
	height: 200px;
}

#torrents #content .center .box form div,
#wiki #content .center .box form div,
#artist #content .center .box form div {
	text-align: left !important;
}

/* HOME AND ARTISTS */


.main_column {
	width: 640px;
}

.sidebar {
	float: right;
	width: 240px;
}

.main_column table {
	margin: 0 0 20px 0;
}

.box table {
	margin: 0;
	background-color: #212121;
}

#discog_table, #collage_table {
	margin-top: 1px;
}

#artist .sidebar img,
#torrents .sidebar img {
	width: 228px;
}

#torrents .sidebar .box p {
	margin: 0;
	padding: 10px 0;
}

.sidebar .box .head,
.main_column .box .head,
.box2 .head {
	background-color: #212121;
	padding: 10px !important;
	border-bottom: 1px solid #1a1a1a;
}

.sidebar .box,
.main_column .box,
.box2 {
	background-color: #212121;
	border: 1px solid #1a1a1a;
	margin: 0 0 20px 0;
}

.sidebar .box .stats {
	list-style: none;
	margin: 0;
	padding: 10px;
}

.sidebar ol {
	padding: 0 !important;
	margin: 0;
	list-style-position: inside;
}

.sidebar ul {
	list-style-type: none;
	margin: 0;
}

#wiki .sidebar ul {
	padding: 0;
}

#wiki .sidebar ul ul, #wiki .sidebar ol ol {
	margin: 0 0 0 10px;
}

#wiki .main_column .box h1, h2, h3 {
	margin: 5px 0;
}

#wiki .main_column .box h1 {
	font-size: 15px;
}

#wiki .main_column .box h2 {
	font-size: 13px;
}


.sidebar .box li {
	margin: 0 0 2px 0;
}

#recommended ul {
	margin: 0 0 0 0;
	padding: 10px;
}

.sidebar form {
	padding: 0 !important;
	margin: 0 !important;
}

.sidebar form br,
.sidebar .pad br {
	line-height: 1em;
}

.sidebar form textarea {
	width: 220px !important;
}

.sidebar form input {
	margin: 0;
}

.sidebar .box .pad div {
	padding: 0 !important;
}

.main_column .body,
.sidebar .box .body { /*ADD TAG ON ALBUM PAGE */
	padding: 10px;
}

.main_column .group {
	background: #171717 url('images/bar2.png') top left repeat-x;
}

.main_column .group td {
	color: #989898;
	border: 0 !important;
}

#discog_table .center {
	background-image: none;
}

.main_column .group td a {
	color: #878787;
}

.main_column .group td a:hover {
	color: #9d9d9d;
}

.main_column .group td .tags {
	background: url('images/tags.png') 0 60% no-repeat;
	padding: 0 0 0 19px;
/*
	filter: alpha(opacity=99);
	-moz-opacity: 0.99;
	opacity: 0.99;
*/
}

/*
.main_column .group td .tags * {
	filter: alpha(opacity=100);
	-moz-opacity: 1;
	opacity: 1;
}
*/

.main_column .group td .tags a {
	color: #656565;
}

.main_column .group td .tags a:hover {
	color: #8c8c8c;
}


/* TORRENTS */

.main_column .torrent_table .pad {
	padding: 15px !important;
}

.main_column .torrent_table .torrent {
	background-color:#1f1f1f;
}

.main_column .torrent_table .pad blockquote {
	margin: 0 0 5px 0;
	border: 1px solid #1f1f1f;
	padding: 5px;
}

.search_form .box .head {
	border-bottom: 1px solid #3f3f3f;
}

/* POLLS */



.poll {
	list-style: none;
	padding: 10px;
	margin: 5px;
}

.poll li {
	clear: both;
}

.poll .graph {
	padding: 0 0 15px 0;
}

.poll .graph span {
	display: block;
	height: 15px;
	float: left;
}

.poll .graph .left_poll {
	width: 3px;
	background: url('images/poll_left.png') top left no-repeat;
}

.poll .graph .center_poll {
	background: url('images/poll_middle.png') top left repeat-x;
}

.poll .graph .right_poll {
	width: 4px;
	background: url('images/poll_right.png') top left no-repeat;
}


/* Styles generated by the BBCode parser */

span.size1 { font-size:0.75em; }
span.size2 { font-size:1em; }
span.size3 { font-size:1.25em; }
span.size4 { font-size:1.5em; }
span.size5 { font-size:1.75em; }
span.size6 { font-size:2em; }
span.size7 { font-size:2.25em; }
span.size8 { font-size:2.5em; }
span.size9 { font-size:2.75em; }
span.size10 { font-size:3em; }



/* MISC */

form textarea, form input {
	max-width: 100%;
}

.r00 { color: #FF0000; }
.r01 { color: #FF1300; }
.r02 { color: #FF1300; }
.r03 { color: #FF2600; }
.r04 { color: #FF4C00; }
.r05 { color: #FF5E00; }
.r06 { color: #FF5E00; }
.r07 { color: #FF7100; }
.r08 { color: #FF9700; }
.r09 { color: #FFAA00; }
.r10 { color: #a8ff91; }
.r20 { color: #e9ffd5; }
.r50 { color: #e9ffd5; }
.r99 { color: #e9ffd5; }

td.r00 {
	background-color: #2e2e2e !important;
}

.curtain {
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index: 1001;
	opacity: 0.8;
	filter: alpha(opacity=80);
}

.lightbox {
	position: fixed;
	text-align: center;
	top: 5%;
	left: 5%;
	width: 90%;
	height: 90%;
	padding: 0px;
	z-index: 1002;
	overflow: auto;
}

.lightbox table {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -300px !important;
	background-color: #252525;
	border: 5px solid #212121;
	padding: 5px;
}

.lightbox form {
	color: #aaaaaa;
}

.lightbox table * {
	text-align: left;
}

.lightbox .colhead span {
	font-weight: bold;
}

.unreadpm {
	background-color: #325266;
}

.unreadpm a {
	color: #989898;
	font-weight: bold;
}

.unreadpm a:hover {
	color: #a2bcc7;
	font-weight: bold;
}

.nobullet {
	list-style: none;
	margin: 0;
	padding: 10px;
}


/*CLEARFIXES*/


#menu ul:after, ul#userinfo_minor:after, div.sidebar:after, #content:after, #footer:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

#menu ul, ul#userinfo_minor, div.sidebar, #content , #footer {display: inline-block;}

/* Hides from IE-mac \*/

* html #menu ul, * html ul#userinfo_minor, * html div.sidebar, * html #content, * html #footer {height: 1%;}

#menu ul, ul#userinfo_minor, div.sidebar, #content, #footer {display: block;}

/* End hide from IE-mac */

/* Further updates - 23/09/08 */



/* COLLAGES */

ul.collage_images {
	margin: 2px auto;
	width: 635px;
}

ul.collage_images li {
	width: 127px !important;
	height: 127px !important;
}

ul.collage_images li a {
	width: 127px !important;
	height: 127px !important;
	overflow: visible !important;
}

ul.collage_images li a img{
	width: 127px !important;
	height: 127px !important;
}

ul.collage_images li a:hover {
	position: relative;
}

ul.collage_images li a:hover img {
	position: absolute;
	top: -55px;
	left: -55px;
	z-index: 4;
	width: 250px !important;
	height: 250px !important;
}

#collage_table {
	width: 645px;
}


/*

#upload_table .label, #collage form .label, #requests form .label, #requests form .label, #inbox form .box .label {
	border-right: 1px solid #d4d4d4 !important;
}

*/

#upload .thin {
	width: 700px;
	margin: 30px auto 0 auto;
}


#requests .tags {
	color: #656565;
}

#requests .tags a {
	color: #8c8c8c;
}

#requests .tags a:hover {
	color: #575757;
}

.colhead_dark img[alt="Donor"], .colhead_dark img[alt="Warned"], .colhead_dark img[alt="Banned"] {
	margin: 0 !important;
	position: relative;
	top: 2px;
}

#quickreplybuttons {
	margin-top: 5px;
}

.colhead_dark input {
	margin: 0 0 0 5px;
}

h3 {
	margin: 10px 0;
}

#userform {
	padding: 20px 0 0 0;
}

.user_options select#stylesheet,
.user_options select#searchtype,
.user_options select#discogview,
.user_options select#hidecollage{
	width: 130px;
}

.user_options .options_list {
	padding: 0;
}

#user .linkbox,
#artist .linkbox,
#collage .linkbox,
#forums .linkbox,
#bookmarks .linkbox,
#torrents .linkbox,
#wiki .linkbox,
#friends .linkbox {
	border-bottom: 0;
}

#wiki .linkbox {
	padding-bottom: 0;
}

#rules #content li {
	margin: 0 0 5px -10px;
}

#userinfo_username .brackets {
	padding: 0 0 0 8px;
}

#userinfo_major .brackets {
	padding: 0 9px 0 0;
}

#forums table.border .cat_list {
	width: 80%;
}

#forums table.border .cat_list td {
	width: 20%;
	padding: 0 !important;
	border: 0 !important;
}

.forum_post {
	margin-bottom: 10px !important;
}

.forum_unread {
	border: 2px solid #1e3b4a !important;
}

.forum_unread .colhead_dark td {
	background: url('images/bar2_hl.png') !important;
}

#forums td[value="unread"]{
	color:red !important;
}

#bookmarks .main_column, #bookmarks .sidebar {
	margin-top: 20px;
}

#bookmarks .group td span {
	float: none !important;
}

#bookmarks .group td span strong {
	display: block;
	width: 400px;
	float: left;
}

#bookmarks .group .tags {
	float: left;
	clear: both;
}

#bookmarks .group span span {
	float: right !important;
}

#bookmarks .group span a {
	float: right;
}

#bookmarks .group span div a, #bookmarks .group span strong a {
	float: none;
}

#top10 p {
	margin: 10px 0;
}

/*#top10 .rowa {
	background: #F6F6F6 url('images/download_bottom.png') 50% 100% no-repeat;
}

#top10 .rowb {
	background: white url('images/download_bottom.png') 50% 100% no-repeat;
}

#top10 .rowa td, #top10 .rowb td {
	background-color: transparent !important;
}

#top10 .group_torrent img {

}

#top10 .group_torrent td:first-child {
	font-size: 14px;
}
#top10 .group_torrent .center {

}*/

/* OINKPLUS */

.OiNK #ArtistName {
	text-indent: -2000em;
}

.OiNK #OiNKPlus {
	padding: 30px 10px 10px 10px;
}

.OiNK #LastFMSimilar, .OiNK #History {
	padding: 5px 0 0 5px;
}

.OiNK input {
	color: #999999;
	padding: 3px;
	border: 1px solid #b4b4b4 !important;
	font-family: Arial,sans-serif;
}

.OiNK #MySpacePlayer object {
	width: 450px;
}

div[style="clear: both;"]{
	display: none;
}

div.box[style=""] div{
	text-align: center;
	margin: 0 auto;
}

div.box[style=""] .head{
	text-align: left;
	margin: 0;
}

.last_read {width: 15px; height: 15px; background: url(images/go_last_read.png) no-repeat center center; margin-left: 5px;}
.last_read a { border: none; width: 100%; height: 100%; display: block; }
.last_read a:hover { border: none; }

.unread_locked_sticky{background: url('images/icons/locked_sticky_unread.png') no-repeat center center;}
.read_locked_sticky{background: url('images/icons/locked_sticky_read.png') no-repeat center center;}
.read_sticky{background: url('images/icons/sticky_read.png') no-repeat center center;}
.unread_sticky{background: url('images/icons/sticky_unread.png') no-repeat center center;}
.unread_locked{background: url('images/icons/locked_unread.png') no-repeat center center;}
.read_locked{background: url('images/icons/locked_read.png') no-repeat center center;}
.unread{background: url('images/icons/unread.png') no-repeat center center;}
.read{background: url('images/icons/read.png') no-repeat center center;}

.unread_locked_sticky,
.read_locked_sticky,
.read_sticky,
.unread_sticky,
.unread_locked,
.read_locked,
.unread,
.read {
	padding:0 0 0 30px !important;
}

.cats_applications { width: 28px; height: 28px; background: url('images/apps.png') no-repeat center center; }
.cats_audiobooks { width: 28px; height: 28px; background: url('images/audiobook.png') no-repeat center center; }
.cats_comedy { width: 28px; height: 28px; background: url('images/comedy.png') no-repeat center center; }
.cats_comics { width: 28px; height: 28px; background: url('images/comics.png') no-repeat center center; }
.cats_ebooks { width: 28px; height: 28px; background: url('images/ebook.png') no-repeat center center; }
.cats_elearningvideos { width: 28px; height: 28px; background: url('images/elearning.png') no-repeat center center; }
.cats_music { width: 28px; height: 28px; background: url('images/music.png') no-repeat center center; }

/* Icons (Torrent Page) */

/* No tag fix */

.cats_music {
	width: 30px;
	height: 30px;
	background: url('images/icons/generic.png') top left no-repeat;
}

/* End no tag fix */

.tags_60s {
	width: 30px;
	height: 30px;
	background: url('images/icons/60s.jpg') top left no-repeat;
}

.tags_70s {
	width: 30px;
	height: 30px;
	background: url('images/icons/70s.jpg') top left no-repeat;
}

.tags_80s {
	width: 30px;
	height: 30px;
	background: url('images/icons/80s.jpg') top left no-repeat;
}

.tags_90s {
	width: 30px;
	height: 30px;
	background: url('images/icons/90s.jpg') top left no-repeat;
}

.tags_alternative {
	width: 30px;
	height: 30px;
	background: url('images/icons/alt.jpg') top left no-repeat;
}

.tags_ambient {
	width: 30px;
	height: 30px;
	background: url('images/icons/ambient.jpg') top left no-repeat;
}

.tags_apps_mac {
	width: 30px;
	height: 30px;
	background: url('images/icons/appsmac.jpg') top left no-repeat;
}

.tags_apps_sound {
	width: 30px;
	height: 30px;
	background: url('images/icons/appssnd.jpg') top left no-repeat;
}

.tags_apps_windows {
	width: 30px;
	height: 30px;
	background: url('images/icons/appswin.jpg') top left no-repeat;
}

.tags_audio_books {
	width: 30px;
	height: 30px;
	background: url('images/icons/audiobooks.jpg') top left no-repeat;
}

.tags_bluegrass {
	width: 30px;
	height: 30px;
	background: url('images/icons/bluegrass.jpg') top left no-repeat;
}

.tags_blues {
	width: 30px;
	height: 30px;
	background: url('images/icons/blues.jpg') top left no-repeat;
}

.tags_breaks {
	width: 30px;
	height: 30px;
	background: url('images/icons/breaks.jpg') top left no-repeat;
}

.tags_classical {
	width: 30px;
	height: 30px;
	background: url('images/icons/classical.jpg') top left no-repeat;
}

.tags_comedy {
	width: 30px;
	height: 30px;
	background: url('images/icons/comedy.jpg') top left no-repeat;
}

.tags_comics {
	width: 30px;
	height: 30px;
	background: url('images/icons/comics.jpg') top left no-repeat;
}

.tags_country {
	width: 30px;
	height: 30px;
	background: url('images/icons/country.jpg') top left no-repeat;
}

.tags_dance {
	width: 30px;
	height: 30px;
	background: url('images/icons/dance.jpg') top left no-repeat;
}

.tags_disco {
	width: 30px;
	height: 30px;
	background: url('images/icons/disco.jpg') top left no-repeat;
}

.tags_drum_and_bass {
	width: 30px;
	height: 30px;
	background: url('images/icons/dnb.jpg') top left no-repeat;
}

.tags_ebooks_fiction {
	width: 30px;
	height: 30px;
	background: url('images/icons/ebooksfic.jpg') top left no-repeat;
}

.tags_ebooks_nonfiction {
	width: 30px;
	height: 30px;
	background: url('images/icons/ebooksnonfic.jpg') top left no-repeat;
}

.tags_elearning_videos {
	width: 30px;
	height: 30px;
	background: url('images/icons/elearningvids.jpg') top left no-repeat;
}

.tags_electronic {
	width: 30px;
	height: 30px;
	background: url('images/icons/electronic.jpg') top left no-repeat;
}

.tags_emo {
	width: 30px;
	height: 30px;
	background: url('images/icons/emo.jpg') top left no-repeat;
}

.tags_experimental {
	width: 30px;
	height: 30px;
	background: url('images/icons/experimental.jpg') top left no-repeat;
}

.tags_folk {
	width: 30px;
	height: 30px;
	background: url('images/icons/folk.jpg') top left no-repeat;
}

.tags_funk {
	width: 30px;
	height: 30px;
	background: url('images/icons/funk.jpg') top left no-repeat;
}

.tags_garage {
	width: 30px;
	height: 30px;
	background: url('images/icons/garage.jpg') top left no-repeat;
}

.tags_grunge {
	width: 30px;
	height: 30px;
	background: url('images/icons/grunge.jpg') top left no-repeat;
}

.tags_hardcore {
	width: 30px;
	height: 30px;
	background: url('images/icons/hardcore.jpg') top left no-repeat;
}

.tags_hardcore_dance {
	width: 30px;
	height: 30px;
	background: url('images/icons/hardcoredance.jpg') top left no-repeat;
}

.tags_hip_hop {
	width: 30px;
	height: 30px;
	background: url('images/icons/hiphop.jpg') top left no-repeat;
}

.tags_house {
	width: 30px;
	height: 30px;
	background: url('images/icons/house.jpg') top left no-repeat;
}

.tags_idm {
	width: 30px;
	height: 30px;
	background: url('images/icons/idm.jpg') top left no-repeat;
}

.tags_indie {
	width: 30px;
	height: 30px;
	background: url('images/icons/indie.jpg') top left no-repeat;
}

.tags_industrial {
	width: 30px;
	height: 30px;
	background: url('images/icons/industrial.jpg') top left no-repeat;
}

.tags_jazz {
	width: 30px;
	height: 30px;
	background: url('images/icons/jazz.jpg') top left no-repeat;
}

.tags_jpop {
	width: 30px;
	height: 30px;
	background: url('images/icons/jpop.jpg') top left no-repeat;
}

.tags_metal {
	width: 30px;
	height: 30px;
	background: url('images/icons/metal.jpg') top left no-repeat;
}

.tags_new_age {
	width: 30px;
	height: 30px;
	background: url('images/icons/newage.jpg') top left no-repeat;
}

.tags_ost {
	width: 30px;
	height: 30px;
	background: url('images/icons/ost.jpg') top left no-repeat;
}

.tags_pop {
	width: 30px;
	height: 30px;
	background: url('images/icons/pop.jpg') top left no-repeat;
}

.tags_post_rock {
	width: 30px;
	height: 30px;
	background: url('images/icons/postrock.jpg') top left no-repeat;
}

.tags_progressive_rock {
	width: 30px;
	height: 30px;
	background: url('images/icons/progrock.jpg') top left no-repeat;
}

.tags_psychedelic {
	width: 30px;
	height: 30px;
	background: url('images/icons/psychedelic.jpg') top left no-repeat;
}

.tags_psytrance {
	width: 30px;
	height: 30px;
	background: url('images/icons/psytrance.jpg') top left no-repeat;
}

.tags_punk {
	width: 30px;
	height: 30px;
	background: url('images/icons/punk.jpg') top left no-repeat;
}

.tags_reggae {
	width: 30px;
	height: 30px;
	background: url('images/icons/reggae.jpg') top left no-repeat;
}

.tags_rhythm_and_blues {
	width: 30px;
	height: 30px;
	background: url('images/icons/rnb.jpg') top left no-repeat;
}

.tags_rock {
	width: 30px;
	height: 30px;
	background: url('images/icons/rock.jpg') top left no-repeat;
}

.tags_ska {
	width: 30px;
	height: 30px;
	background: url('images/icons/ska.jpg') top left no-repeat;
}

.tags_soul {
	width: 30px;
	height: 30px;
	background: url('images/icons/soul.jpg') top left no-repeat;
}

.tags_techno {
	width: 30px;
	height: 30px;
	background: url('images/icons/techno.jpg') top left no-repeat;
}

.tags_trance {
	width: 30px;
	height: 30px;
	background: url('images/icons/trance.jpg') top left no-repeat;
}

.tags_trip_hop {
	width: 30px;
	height: 30px;
	background: url('images/icons/triphop.jpg') top left no-repeat;
}

.tags_uk_garage {
	width: 30px;
	height: 30px;
	background: url('images/icons/ukgarage.jpg') top left no-repeat;
}

.tags_world {
	width: 30px;
	height: 30px;
	background: url('images/icons/world.jpg') top left no-repeat;
}

/* RANDOM ARTIST FIX */

ul#userinfo_random {
	position: absolute;
	list-style: none;
	z-index: 1;
	padding-top: 27px;
}

ul#userinfo_random li {
	margin: 0;
	padding: 0;
	padding-left: 830px;
}

ul#userinfo_random li a {
	color: #d5efff;
}

ul#userinfo_random li a:hover {
	color: #ffffff;
}

.center {
	text-align: center;
}

.spellcheck {
	margin: 25px 0;
	font-size: 1.25em;
	font-weight: bold;
}

tr.torrent .bookmark > a:before { content:""; }
tr.torrent .bookmark > a:after { content:""; }

.linkbox .brackets:before,
.linkbox .brackets:after,
.top10_quantity_links .brackets:before,
.top10_quantity_links .brackets:after {
	color: #878787;
}

.group_image + .group_info { margin: 0; padding: 0 5px; display: table-cell; vertical-align: middle; height: 90px; }
#torrents .group_image + .group_info { width: 450px; }
#top10 .group_image + .group_info { width: 585px; }

.field_div {
	margin-bottom: 10px;
}

.edit_changelog textarea {
	width: 600px;
}

.autocomplete-suggestions {
	background: #3f3f3f;
}
.autocomplete-suggestion {
	padding: 2px 5px;
	white-space: nowrap;
	overflow: hidden;
	cursor: pointer;
	color: #ffffff;
}

div[class~=tooltipster-base] {
	background-color: #1E1E1E;
	border-color: #A0A0A0;
	color: #878787;
}

div[class~=tooltipster-content] > a {
	color: #007DC6;
}

/*
Consistent .box and .pad
TODO: Make these rules apply globally and add exceptions where needed
*/
#reportsv2 .box,
#reports .box {
	background-color: #212121;
	border: 1px solid #1a1a1a;
	margin: 0 0 20px 0;
}

.two_columns.pad,
#reportsv2 .pad,
#reports .pad {
	padding: 10px !important;
}

.forum_post td img {
	max-width: 685px;
}

#collage #reply_box img,
#forums #reply_box img {
	max-width: 685px;
}

#request_comments #reply_box img,
#torrent_comments #reply_box img {
	max-width: 403px;
}

#artistcomments #reply_box img {
	max-width: 446px;
}

#torrent_comments img,
#request_comments img {
	max-width: 425px;
}

#artistcomments img {
	max-width: 468px;
}

#artist_information img,
.box_request_desc img,
.news_post img,
.torrent_description img,
.wiki_article img {
	max-width: 619px;
}

.torrentdetails img {
	max-width: 590px;
}

.blog_post img,
#wiki .create_form img,
#wiki .edit_form img {
	max-width: 900px;
}

#inbox .body img,
#inbox #preview img,
#staffpm #reply_box img {
	max-width: 450px;
}

#userform img {
	max-width: 512px;
}

.profileinfo img {
	max-width: 618px;
}

#reportsv2 .manage_form img {
	max-width: 602px;
}
