pre br {
	line-height:0px;
	display:none;
}
 
.collage td {
	border: none;
	padding: 0px;
}

.collage tr {
	border: none;
}

.line_new {
	color: green;
}

.line_deleted {
	color: red;
}

.line_moved {
	color: blue;
}

.line_unchanged {

} 

.log1 {

 }
 
 .log2 {
 	color: yellow;
 }
 
 .log3 {
 	color: #0E88C6;
 }
 
 .log4 {
 	font-weight: bold;
 }
 
 .log5 {
 	text-decoration: underline;
 }
 
 .good {
 	font-weight: bold;
 	color: green;
 }
 
 .bad {
 	font-weight: bold;
 	color: red;
 }
 
 .goodish {
 	font-weight: bold;
 	color: #35BF00;
 }
 
 .badish {
 	font-weight: bold;
 	color: #E5B244;
 }
 
 pre {
 	overflow: auto;
 }

.hidden {
	display: none;
}

.disable_grouping {
	display: none;
}

form textarea, form input {max-width:100%;}

a.beta {
	font-weight: bold;
	color: #ff0000;
}

.invalid, .warning, .error {
	color: #ff0000;
}

/* Make [+] on add multiple artists stay at the bottom (on torrent details page) */
div#AddArtists {
	position: relative;
}

div#AddArtists a {
	position: absolute;
	right: 0pt;
	bottom: 0pt;
}

.clear:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.new-subscriptions {
	font-weight: bold;
}

.rippywrap { z-index:25; display: block; position: fixed; background: transparent url('../rippy/rippy.png') no-repeat bottom center; color: black; text-align: center; width: 190px; height: 180px; bottom: 0px; right: 0px; }
.rippywrap div.rippy { z-index: 25; height: 111px; width: 190px; position: fixed; bottom: 0px; right: 0px; }
span.rbt { display: block; padding: 8px 0 0; background: url('../rippy/rippy_top.gif') no-repeat top; }
span.rbm { display: block; background: url('../rippy/rippy_middle.gif') repeat bottom; padding: 2px; }
span.rbb { display: block; padding: 4px 0px 18px; margin-bottom: 5px; background: url('../rippy/rippy_bottom.gif') no-repeat bottom; }
